*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: #3C4458;

}

.terms-of-use{
    height: 1064px;
    width: 88%;
    margin: 0 auto;
    background-color: white;
}
.heading{
    margin-top: 64px;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    margin-bottom: 32px;
}
.requirements-section{
    display: flex;
    margin-top: 64px;
}
.requirements-section h2{
    width: 35%;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
} 
.requirements-section p{
    width: 75%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}
 .rules-section{
    display: flex;
    margin-top: 64px;
 } 
 .rules-section h2{
    width: 35%;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
} 
.rules-section ul{
    width: 75%;
    margin-left: 2%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

} 
.deactivation-section{
    display: flex;
    margin-top: 64px;
} 
.deactivation-section h2{
    width: 35%;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
} 
.deactivation-section p{
    width: 75%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.copyright-section{
    display: flex;
    margin-top: 64px;
} 
.copyright-section h2{
    width: 35%;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}
.copyright-section p{
    width: 75%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.billing-section{
    display: flex;
    margin-top: 64px;
}
 .billing-section h2{
    width: 35%;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}
.billing-section p{
    width: 75%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.update{
    margin-top: 64px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}
@media screen and (max-width: 375px) {
    .heading{
        margin-top: 32px;
    }
    .requirements-section, .rules-section, .deactivation-section, .copyright-section, .billing-section{
        display: flex;
        flex-direction: column;
    }
    .requirements-section h2, .rules-section h2, .deactivation-section h2, .copyright-section h2, .billing-section h2{
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 0;
    }


    .requirements-section p, .deactivation-section p, .copyright-section p, .billing-section p{
        margin-top: 16px;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        margin-bottom: 0;

    }
    .rules-section ul{
        margin-left: 5%;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
    }
    .update{
        margin-top: 32px;
    }
}